@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --switch-bg-url: url(../assets/Icons&IMGs/moon-stars.svg);
    --highlight-color: rgba(255, 255, 255, 0.02);
    --bg-color: rgb(15, 15, 15);
}

.light {
    --text-color: black;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(../assets/Icons&IMGs/sun.svg);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --bg-color: rgb(202, 202, 202);
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

body * {
    font-family: "Sora", sans-serif;
    color: var(--text-color);
}

p {
    cursor: default;
}

p, a {
    font-weight: bold;
}

#profile h1 {
    font-weight: 500;
    line-height: 20px;
    margin-top: 8px;
    font-size: 22px;
}

#profile p {
    font-weight: 300;
    font-size: 14px;
}

#profile {
    text-align: center; 
    padding: 18px;
}

#container { 
    overflow: auto; 
    width: min(590px, 100%);
    max-width: 590px;
    height: 100vh;
    padding: 0 24px;
    border-radius: 15px;
    background-color: var(--bgConteiner-color);
    backdrop-filter: blur(12px);
}

#profile img {
    max-height: 135px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 0, 255, 0.359);
    -moz-box-shadow: 0px 0px 9px 0px rgba(255, 0, 255, 0.359);
    box-shadow: 0px 0px 9px 0px rgba(255, 0, 255, 0.359);
}

#switch {
    position: relative;
    width: 42px;
    margin: 10px 0 0 -15px;
}

#switch button {
    width: 18px;/*  o height e do mesmo tam */
    height: 18px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
 
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back .3s;
}

.light #switch button {
    animation: slide-in .3s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 38px;
    height: 18px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0;
}


ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: solid 1px var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background .3s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: solid 1px var(--text-color);
}

ul li .portfolio {
    background: rgb(246,74,247);
    background: linear-gradient(31deg, rgba(246,74,247,1) 26%, rgba(152,64,210,1) 72%);
    border: 2px solid black;
    transition: transform 0.3s ease;
    color: black;
}

.portfolio:hover {
    transform: scale(1.02);
    background: rgb(246,74,247);
    background: linear-gradient(31deg, rgba(246,74,247,1) 26%, rgba(152,64,210,1) 72%);
    border: 2px solid black;
}

a ion-icon {
    padding-right: 15px;
    font-size: 25px;
}

#icones a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
    transition: background 0.2s;
}

#icones a:hover {
    background: var(--highlight-color)
} 

#icones {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0;
    font-size: 20px;
}

.yt-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 30px;
}

.yt-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.html {
    color: orangered;
}

.css {
    color: aqua;
}

.js {
    color: yellow;
}

 /* media queries */

 @media (min-width: 700px) {
    :root {
        --bg-url: url(../assets/Icons&IMGs/bg_dasktop_dark.jpeg)
    }

    .light {
        --bg-url: url(../assets/Icons&IMGs/bg_dasktop_light.jpeg)
    }
 }

 /* Animações */

 @keyframes slide-in {
    from {
        left: 0;
    }

    to{
        left: 50%;
    }

 }
 @keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
 }